body {
	font-family: 'Maven Pro', sans-serif;

}

#intro{
	/*background-image: url("content/bg7.jpg");*/
	background-color: 	#171a1a;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: auto !important;
	min-height: 100%;
	text-align: center;
	font-family: 'Maven Pro', sans-serif;
}

.content-wrapper{
	width: auto;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}


.title{
	color: #eee;
	font-size: 40px;
	font-weight: 900;
	letter-spacing: 10px;
	text-transform: uppercase;
	padding: 10px 20px;
	line-height: 75px;
    background-color:rgba(46, 178, 103, 1);
	text-transform: uppercase;
	display: inline-block;

}
.name{
	text-align: center;
	color: #eee;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 10px;
  text-transform: uppercase;
  padding-bottom: 0px;
  line-height: 75px;
	text-transform: uppercase;
}

.section-title {
	color: rgb(34, 34, 34);
	text-align: center;
	letter-spacing: 5px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 10px;
	padding-top: 50px;
  margin-bottom: 10px;
}

.under-section-title{
	letter-spacing: 5px;
	font-size: 10px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	color: #777;
	padding-bottom: 30px;
}

.under-section-text{
	line-height: 21px;
	letter-spacing: 2px;
	font-size: 11px;
	color: #777;
}
.upper{
	color: rgb(46, 178, 103);
}

.profile-pic{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	overflow: hidden;
	text-align: center;
	display:inline-block;
	float:left;

}
.profile-pic-image{
	width: 100%;
	height: auto;
}

.right-align {
	text-align: right;
}

.small-name{
	margin-top: 20px;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 3px;
}

.small-title{
	color: #2eb267;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 11px;
}

.progress-bar {
	float: left;
	width: 0;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	background-color: #2eb267;
	-webkit-transition: width .6s ease;
	transition: width .6s ease;
}

.aboutMe{
	padding: 10px 40px;
}

.skill-text{
	text-transform: uppercase;
	color: #222222;
	font-size: 10px;
	letter-spacing: 1px;
	line-height: 20px;
	margin-bottom: 0px;
	margin-top: 15px;
}

.progress {
	margin-top: 5px;
	background-color: #eee;
	height: 18px;
	margin-bottom: 8px;
	margin-top: 8px;
	overflow: hidden;
	background-color: #f5f5f5;
	border-radius: 4px;
}


.marker{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 100px;
}

.filler{
	padding-bottom: 200px;
	font-family: 'Maven Pro', sans-serif;
}

.h5-profile{
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 1px;
	line-height: 15px;
	font-weight: 500;
	line-height: 1.1;
	margin-top: 10px;
	margin-bottom: 10px;
}

.profile-under{
	padding-top: 50px;
}

.h5-profile span{
	color: rgb(46, 178, 103);
}

.resumeEe h3 {
	color: rgb(34, 34, 34);
	letter-spacing: 5px;
  	font-size: 18px;
  	font-weight: 600;	
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 3px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.resumeEd h3 {
	color: rgb(34, 34, 34);
	letter-spacing: 5px;
  	font-size: 18px;
  	font-weight: 600;	
	text-align: right;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 3px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.resume {
	background-color: rgb(238, 238, 238);
}

.cvlist {
	list-style: none;
}

.resumePeriod {
	background: #2eb267;
    color: #fff;
    padding: 2px 4px;
    font-size: 11px;
}

h4{
 	font-family: 'Maven Pro', sans-serif;

}

p{
	font-family: 'Maven Pro', sans-serif;
}
.resume-list-header{
	text-transform: uppercase;
	font-weight: 600;	
	font-size: 13px;
	letter-spacing: 2px;
	margin-top: 0px;
	margin-bottom: 5px;
		display: inline-block;
}

.glyphicon {
	color:  #2eb267;
	display: inline-block;
}

.left{
	padding-right: 0px;
	text-align: right;
}

.right{
	padding-left: 0px;
}
.text-pad-right{
	padding-left: 4px;
}

.ed{
	text-align: right;
}

.ee{
	text-align: left;
}

.co-resume.container{
	padding-top: 0px;
}

.place {
	color:  #2eb267;
	text-transform: uppercase;
	font-weight: 600;	
	font-size: 13px;
	letter-spacing: 2px;
	margin-top: 0px;
	margin-bottom: 5px;
}