
#intro{
	background-image: url("content/bg5.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center; 
	height: auto !important;
	min-height: 100%;
}

.title{
	position: absolute;
	text-align: center;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
    background-color:rgba(255,255,255,0.5);

}

.title > h1{ 
	opacity:1;
	padding-bottom: 18px;

}
