
nav-bar{

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	opacity: 100%;
	z-index: 100;
}

.navbar{
	background-color: transparent;
	border: none;
}

.nav li {
	background-color: white;
}


.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	background-color: #34495e;
	color: #fff;
}